body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #0B0A07;
}
h1{
    color: #748067;
}
h2{
    color: #E3D87E;
}
/*-----------Form Container------------*/
.container{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px;
    justify-self: center;
    align-self: center;
}
/*----Left side----*/
.title{
    width: 100%;
    height: 100%;
    background-color: #0B0A07;
    text-align: center;
}
span{
    color: white;
    font-size: 5rem;
}
.text{
    text-align: center;
    color: white;
    width: 70%;
    margin: 5px auto;
}
.text p{
    font-stretch: expanded;
}
.text p strong{
    color: black;
}
.sign-up{
    margin-top: 40px;
    text-align: center;
}
.sign-up-btn{
    width: 200px;
    height: 50px;
    background-color: white;
    border: 0.5px solid rgb(18, 117, 199);
    border-radius: 5px;
    margin: 0 auto;
    color: #E3D87E;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 1px 3px black;
    cursor: pointer;
}
.sign-up-btn:hover{
    color: white;
    background-color: #E3D87E;
    border: 0.5px solid white;
}
/*---Social Media Icon---*/
.alternate{
    text-align: center;
    margin-top: 3rem;
}
.icons{
    display: flex;
    margin-right: 100px;
    margin-left: 170px;
    padding: 10px;
}
.fb-icon{
    padding-right: 10px;
    padding-left: 10px;
}
.tw-icon{
    padding-right: 10px;
    padding-left: 10px;
}
.whats-icon{
    padding-right: 10px;
    padding-left: 10px;
}
.insta-icon{
    padding-right: 10px;
    padding-left: 10px;
}
/*----Right Side----*/
.form-wrap{
    margin-top: 0px;
    width: 100%;
    background-color: #030027;
    color: white;
    
}
.inner-wrap{
    background-color: #BBCEA8;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
    width: 60%;
    height: 360px;
    /*border-top: 5px solid rgb(18, 117, 199);*/
    border-radius: 20px;
    box-shadow: 1px 2px 3px grey;
}
.content{
    margin: 10px auto;
    padding-left: 50px;
    /*padding-right: 50px;*/
    /*text-align: center;
    align-content: center;*/
}
.form-login{
    margin-top: 20px;
}
.label{
    align-content: center;
}
.fill{
    background-color: white;
    margin-bottom: 5px;
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 90%;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    margin-top: 5px;
    border: none;
    text-align: center;
    height: 30px;
    width: 90%;
    border-radius: 10px;
    color: #E3D87E;
    cursor: pointer;
}
.btn:hover{
    background-color: #BBCEA8;
    border: 0.5px solid #0B0A07;
    color: rgb(252, 252, 252);
}
/*--------------footer------------------*/
.footer{
    height: 30px;
    text-align: center;
    color: white;
    margin-top: 0;
    width: 100%;
    background-color: #748067;
}
.footer p{
    padding: 10px auto;
}

/*
.forgot{
    padding-bottom: 80px;
    margin-bottom: 80px;
}
.forgot{
    text-align: right;
}*/


/*.form-head{
    font-family: poppins;
    text-align: center;
    border: 5px solid gray;
}*/



a{
    text-decoration: underline;
    color: rgb(18, 117, 199);
}
a:hover{
    color: white;
    text-decoration: none;
}

/*------------Media Queries---------------*/

/*----Large Screens*/
@media (min-width:850px) and (max-width:1010px){
    .inner-wrap{
        width: 80%;
    }
}

/*----Tablet Screens----*/

@media (min-width:750px) and (max-width:850px){
    .inner-wrap{
        width: 90%;
    }
}

@media(min-width:400px) and (max-width:750px){
    .container{
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
        align-self: center;
    }
    .inner-wrap{
        width: 70%;
    }
}

/*----Smartphone Screens----*/
@media(min-width:250px) and (max-width:400px){
    .container{
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
        align-self: center;
    }
    .inner-wrap{
        width:92%;
    }
}